<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>This is index</title>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
</script> -->
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
     <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/3e7f008329.js"
      crossorigin="anonymous"
    ></script>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img
            src="https://user-images.githubusercontent.com/65178804/193474123-e8b213f0-ead6-4528-808b-d9cb3f57f856.png"
            width="40px"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/api/auth/signout"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h2 style="text-align: center" class="my-3">Welcome <%= user %></h2>

    <div class="container my-3">
      <form id="myForm">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" required />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea type="text" class="form-control" id="description" required ></textarea>
        </div>
        <div class="mb-3">
          <label for="tags" class="form-label">Tags</label>
          <input type="text" class="form-control" id="tags" required />
        </div>
        <button type="submit" class="btn btn-primary" id="addbtn">Add</button>
      </form>
    </div>

    <div class="container my-3">
      <div class="d-md-flex">
        <div class="input-group my-3">
          <input type="text" class="form-control rounded search-text" placeholder="Search" onkeyup="filterNotes();" />
        </div>
        <div class="input-group my-3 d-md-none search-type">
          <select class="form-control" onchange="filterNotes();">
            <option value="title" selected>By Title</option>
            <option value="tag">By Tag</option>
          </select>
        </div>
        <div class="input-group my-3 w-25 d-none d-md-flex search-type">
          <select class="form-control" onchange="filterNotes();">
            <option value="title" selected>By Title</option>
            <option value="tag">By Tag</option>
          </select>
        </div>
      </div>
    </div>

    <div class="container my-3">
      <div class="row my-3">
        <% notes.forEach(function(note){ %>
        <div class="col-sm-4 my-3 note">
          <div class="card">
            <h5 class="card-title card-header note-title" id="cardTitle_<%= note._id %>">
              <%= note.title %>
            </h5>
            <div class="card-body">
              <p class="card-text" id="cardDescription_<%= note._id %>">
                <%= note.description %>
              </p>
              <p class="card-text note-tag" id="cardTags_<%= note._id %>">
                <%= note.tags %>
              </p>
              <a href="#" style="padding-right: 10px"
                ><i class="fa fa-edit" id="edit_<%= note._id %>" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="updateNote()"></i
              ></a>
              <a href="#" style="padding: 10px"
                ><i class="fa fa-trash" id="delete_<%= note._id %>" data-bs-toggle="modal" data-bs-target="#exampleModal2" onclick="deleteNote()"></i
              ></a>
              <a href="#" style="padding: 10px"
                ><i class="fa fa-share" id="send_<%= note._id %>" data-bs-toggle="modal" data-bs-target="#exampleModal3" onclick="sendNote()"></i
              ></a>
             
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle3">Share Your Note 📒</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
       <div class="modal-body">
        <form>
            <div class="mb-3">
            <label for="exampleModalTitle3" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="exampleModalTitle3" disabled>
          </div>
            <div class="mb-3">
            <label for="exampleModalEmail" class="col-form-label">Send To:</label>
            <input type="text" class="form-control" id="exampleModalEmail">
          </div>
        </form>
      </div>
        
      <div class="modal-footer">
        
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="sendNote">Send</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle2">Confirm Your Action</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
       <div class="modal-body">
        <form>
            <div class="mb-3">
            <label for="exampleModalTitle2" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="exampleModalTitle2" disabled>
          </div>
          <div class="mb-3">
            <label for="exampleModalDescription2" class="col-form-label">Description:</label>
            <textarea type="text" class="form-control" id="exampleModalDescription2" disabled></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleModalTags2" class="col-form-label">Tags:</label>
            <input class="form-control" id="exampleModalTags2" disabled>
          </div>
        </form>
      </div>
        
      <div class="modal-footer">
        
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="deleteNote">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle">Your Note 📒</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
       <div class="modal-body">
        <form>
            <div class="mb-3">
            <label for="exampleModalTitle" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="exampleModalTitle" required>
          </div>
          <div class="mb-3">
            <label for="exampleModalDescription" class="col-form-label">Description:</label>
            <textarea type="text" class="form-control" id="exampleModalDescription" required></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleModalTags" class="col-form-label">Tags:</label>
            <input class="form-control" id="exampleModalTags" required>
          </div>
        </form>
      </div>
        
      <div class="modal-footer">
        
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="updateChanges">Save changes</button>
      </div>
    </div>
  </div>
</div>


    <script>
        var target_element = "";
        var title="", description="", tags="", email="", old_title="", old_description="", old_tags="";

      document.getElementById("myForm").addEventListener("submit", (e) => {
        // e.preventDefault();

        let title = document.getElementById("title").value;
        let description = document.getElementById("description").value;
        let tags = document.getElementById("tags").value;

            fetch("/api/notes/addnote", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ title, description, tags }),
        })
          .then((res) => {
            // console.log(res.auth_token);
            return res.json();
          })
          .then((fres) => {
            console.log(fres);

            if (fres.error) {

              alert(fres.error);
            } else {
              window.location.href = "/api/auth/console";
            }
          });
        })
   
        function updateNote(){
            console.log(event.srcElement.id);
            target_element = event.srcElement.id.substring(5);
            old_title = document.getElementById(`cardTitle_${target_element}`);
            old_description = document.getElementById(`cardDescription_${target_element}`);
            old_tags = document.getElementById(`cardTags_${target_element}`);
            console.log(title.innerText);
            document.getElementById("exampleModalTitle").value = old_title.innerText;
            document.getElementById("exampleModalDescription").value = old_description.innerText;
            document.getElementById("exampleModalTags").value = old_tags.innerText;

            document.getElementById("updateChanges").addEventListener("click", (e) => {
            e.preventDefault();

                title = document.getElementById("exampleModalTitle").value;
                description = document.getElementById("exampleModalDescription").value;
                tags = document.getElementById("exampleModalTags").value;
                
                fetch(`/api/notes/updatenote/${target_element}`, {
                method: "POST",
                
                body: JSON.stringify({ title, description, tags }),
                })
                .then((res) => {
                    // console.log(res.auth_token);
                    return res.json();
                })
                .then((fres) => {
                    console.log(fres);

                    if (fres.error) {
                    alert(fres.error);
                    } else {
                        
                    window.location.href = "/api/auth/console";
                    }
                });
            })

            // target_element = "";
            // document.getElementById("exampleModalTitle").value = "";
            // document.getElementById("exampleModalDescription").value = "";
            // document.getElementById("exampleModalTags").value = "";
            // title = "", old_title = "";
            // description = "", old_description = "";
            // tags = "", old_tags = "";
        }


        function sendNote(){
            console.log(event.srcElement.id);
            target_element = event.srcElement.id.substring(5);
            
            title = document.getElementById(`cardTitle_${target_element}`).innerText;
            console.log(title)
            description = document.getElementById(`cardDescription_${target_element}`).innerText;
            tags = document.getElementById(`cardTags_${target_element}`).innerText;
            document.getElementById("exampleModalTitle3").value =title;

            document.getElementById("sendNote").addEventListener("click", (e) => {
            // e.preventDefault();
                email = document.getElementById("exampleModalEmail").value;
                console.log(email);
                fetch(`/api/notes/sendnote`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ email, title, description, tags }),
                })
                .then((res) => {
                    // console.log(res.auth_token);
                    return res.json();
                })
                .then((fres) => {
                    console.log(fres);

                    if (fres.error) {
                    alert(fres.error);
                    window.location.href = "/api/auth/console";
                    } else {
                    window.location.href = "/api/auth/console";
                    }
                });
            })
            // target_element = "";
            
            // email = "", title = "", description = "", tags = "";
        }


        function deleteNote(){
            
            target_element = event.srcElement.id.substring(7);
            console.log(target_element);

            old_title = document.getElementById(`cardTitle_${target_element}`);
            old_description = document.getElementById(`cardDescription_${target_element}`);
            old_tags = document.getElementById(`cardTags_${target_element}`);
            console.log(title.innerText);
            document.getElementById("exampleModalTitle2").value = old_title.innerText;
            document.getElementById("exampleModalDescription2").value = old_description.innerText;
            document.getElementById("exampleModalTags2").value = old_tags.innerText;

            document.getElementById("deleteNote").addEventListener("click", (e) => {
            // e.preventDefault();

                
                fetch(`/api/notes/deletenote/${target_element}`, {
                method: "DELETE",
                })
                .then((res) => {
                    // console.log(res.auth_token);
                    return res.json();
                })
                .then((fres) => {
                    console.log(fres.auth_token);

                    if (fres.error) {
                    alert(fres.error);
                    } else {
                    window.location.href = "/api/auth/console";
                    }
                });
            })

            // target_element = "";
            // old_title = "", old_description = "", old_tags = "";

        }


        function isVisible(e)
        {
          return !!(e.offsetWidth || e.offsetHeight || e.getClientRects().length);
        }


        function kmp(haystack, needle) 
        {
          if (needle === '' || needle === haystack) return 0;
          if (haystack.length < needle.length) return -1;
          
          for (let i = 0; i < haystack.length - needle.length + 1; i++) {
            if (haystack[i] === needle[0]) {
              for (let j = 0; j < needle.length; j++) {
                if (needle[j] !== haystack[i + j]) {
                  break;
                } else if (j === needle.length - 1){
                  return i;
                }
              }
            }
          }
          
          return -1;
        };


        function filterNotes()
        {
          let text = document.querySelector('.search-text').value.trim();
          
          let type;
          for (const dropdown of document.querySelectorAll('.search-type'))
            if (isVisible(dropdown))
              type = dropdown.querySelector('select').value;
          console.log(text, type)
          
          for (const dropdown of document.querySelectorAll('.search-type'))
            dropdown.querySelector('select').value = type;

          for (const note of document.querySelectorAll('.note'))
          {
            note.style.display = 'block';
            let noteTitle = note.querySelector('.note-title').innerText.toLowerCase();
            let noteTag = note.querySelector('.note-tag').innerText.toLowerCase();
            text = text.toLowerCase();
            if (!(text === '' || (type === 'title' && noteTitle.startsWith(text)) || (type === 'tag' && kmp(noteTag, text) !== -1)))
              note.style.display = 'none';
          }
        }
      

      

    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
